{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} - Ajouter un formulaire
{% endblock %}
 
{% block body %}
  
    <div class="container"> 
        <h2>Ajouter un formulaire</h2>
        {% include "TataiQcmBundle:Qcm:form.html.twig" %}
        <p>
            <a href="{{ path('tatai_qcm_home')}}" class="btn">
                <i class="icon-chevron-left"></i>Retour à l'accueil
            </a>
        </p>
    </div>     
{% endblock %}