<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}QCM{% endblock %}</title>
 
        {# ... #}
 
        {% block stylesheets %}
        {% stylesheets
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}  
        {% endblock %}
 
        {# ... #}
 
    </head>
    <body> 
        {% include "TataiQcmBundle::navbar.html.twig" %}
     
        {% block body %}
        
        {% endblock %}
        
        {% block javascripts %}
        {% javascripts
            '@TataiQcmBundle/Resources/public/js/*'
            '../vendor/twbs/bootstrap/js/dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
 

    </body>
</html>